<html>
<head>
</head>
<body>
<center><a href="/addpublisher/"> add publisher </a></center>
<center><table summary="Publisher list." border="1">
<TR><TD>Name</TD><TD>Edit/Delete</TD><TR>
{% for pub in pub_list %}
    <tr><td>{{ pub.name }}</td><td>
<FORM ACTION ="/edit_del_op/" method = post>{% csrf_token %}<INPUT TYPE = hidden NAME =action_{{pub.id}} VALUE = display_{{pub.id}}>
	<INPUT TYPE = submit NAME = name_edit VALUE = edit><INPUT TYPE = submit NAME = name_delete VALUE = delete></FORM>
</td></tr>
{% endfor %}
 </table></center>
</body>
</html>
